<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<!--<img src="../public/assets/images/burger-background.webp" alt="burger" />-->
			<h1> Eat A Burger from De Griilll! </h1>
		</div>


	</div>
</div>